@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: rgba(82, 81, 81, 0.91);
}

.container {
  padding: 20px;
}

.title {
  color: #1a8381;
  text-transform: uppercase;
  font-weight: 700;
}

.btn {
  color: #fff;
  background: #404040;
  padding: 11px 20px;
}
.btn:hover {
  border-bottom: 2px solid #14b1be;
  -webkit-box-shadow: 0 0 10px #14b1be;
          box-shadow: 0 0 10px #14b1be;
}

.btn-active {
  border-bottom: 2px solid #14b1be;
  -webkit-box-shadow: 0 0 10px #14b1be;
          box-shadow: 0 0 10px #14b1be;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper__inner {
  height: 100vh;
}

.tab-menu {
  background: #d5d5d6;
}
.tab-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background: #f5f5f5;
  letter-spacing: 0.1em;
}
.tab-menu__header--title {
  font-size: 25px;
}
.tab-menu__btns {
  background: #404040;
  padding: 0 30px;
  height: 40px;
}
.tab-menu__content {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  padding: 20px 30px;
}
.tab-menu__panel {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}
.tab-menu__current-weather {
  background: #e8ecef;
  padding: 30px;
}
.tab-menu__current-weather--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.tab-menu__current-weather--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tab-menu__icon {
  text-align: center;
}
.tab-menu__img {
  width: 100px;
  margin-bottom: 5px;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}
.tab-menu__current-temp {
  text-align: center;
}
.tab-menu__heading {
  font-size: 50px;
  margin-bottom: 10px;
}
.tab-menu__real-feel {
  font-size: 14px;
}
.tab-menu__real-feel--name {
  display: inline-block;
}
.tab-menu__info {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}
.tab-menu__sunrise--name {
  display: inline-block;
}
.tab-menu__sunset--name {
  display: inline-block;
}
.tab-menu__duration--name {
  display: inline-block;
}
.tab-menu__text {
  margin-right: 20px;
}
.tab-menu__weather-days--list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
}
.tab-menu__weather-days--item {
  background: #e8ecef;
  padding: 30px;
  text-align: center;
}
.tab-menu__weather-days--link {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  color: #000;
}
.tab-menu__weather-days--title {
  font-size: 17px;
}
.tab-menu__weather-days--img {
  width: 100px;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.tab-menu__weather-days--temp {
  font-size: 40px;
}
.tab-menu__weather-days--forecast {
  font-size: 14px;
}

.form {
  position: relative;
  background: #000;
  width: 300px;
}
.form__search {
  padding: 10px 42px 10px 15px;
  width: inherit;
  border: 1px solid #d7d7d7;
}
.form__search-btn {
  width: 25px;
  height: 25px;
  background: url(../img/search-dark.png) 0/cover no-repeat;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.tab-menu__hourly {
  background: #f4f4f4;
  padding: 30px;
  margin-bottom: 20px;
}
.tab-menu__hourly--header {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px 0 0;
}
.tab-menu__hourly--city-name {
  display: inline-block;
}
.tab-menu__hourly--city-title {
  margin-right: 10px;
}
.tab-menu__hourly--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tab-menu__hourly--description {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  width: 130px;
  padding: 10px;
  background: #e3e3e3;
  color: #606463;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tab-menu__hourly--img {
  width: 80px;
  height: 80px;
}
.tab-menu__hourly--forecast-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tab-menu__hourly--temp-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tab-menu__hourly--real-feel-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tab-menu__hourly--wind-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tab-menu__hourly--nav {
  height: 100%;
}
.tab-menu__hourly--list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(6, 1fr);
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  height: inherit;
}
.tab-menu__hourly--item {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: inherit;
  width: 150px;
  gap: 10px;
  padding: 10px;
  color: #000;
}
.tab-menu__hourly--icon {
  width: 80px;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.tab-menu__hourly--forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tab-menu__hourly--temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tab-menu__hourly--real-feel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tab-menu__hourly--wind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error {
  width: 340px;
  height: 100px;
  padding: 10px;
  background: rgba(185, 16, 16, 0.91);
  color: #fff;
  text-align: center;
  font-size: 14px;
  position: fixed;
  top: 10px;
  right: -350px;
  -webkit-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
}
.error__message {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.error__link {
  color: #fff;
}

.active-error {
  right: 0;
}

.tab-menu__nearest-cities {
  width: 100%;
  background: #f2f2f2;
  padding: 30px;
}
.tab-menu__nearest-cities--header {
  margin-bottom: 20px;
}
.tab-menu__nearest-cities--title {
  display: inline-block;
  margin-right: 20px;
}
.tab-menu__nearest-cities--nav {
  width: 100%;
  height: 100%;
}
.tab-menu__nearest-cities--list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 15px 1fr 15px 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}
.tab-menu__nearest-cities--list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.tab-menu__nearest-cities--list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.tab-menu__nearest-cities--list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.tab-menu__nearest-cities--list > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.tab-menu__nearest-cities--list > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.tab-menu__nearest-cities--list > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.tab-menu__nearest-cities--list > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.tab-menu__nearest-cities--list > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.tab-menu__nearest-cities--list > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.tab-menu__nearest-cities--item {
  background: #e1e1e3;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 7px;
}
.tab-menu__nearest-cities--link {
  color: #000;
}
.tab-menu__nearest-cities--col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tab-menu__nearest-cities--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.tab-menu__nearest-cities--location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tab-menu__nearest-cities--city {
  color: #0ebeaf;
  font-size: 20px;
  font-weight: 700;
}
.tab-menu__nearest-cities--country {
  color: #ad0aba;
  font-size: 20px;
  font-weight: 700;
}
.tab-menu__nearest-cities--main-temp-name {
  display: inline-block;
  margin-left: 10px;
}
.tab-menu__nearest-cities--real-feel-name {
  display: inline-block;
  margin-left: 10px;
}
.tab-menu__nearest-cities--img {
  width: 80px;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}