@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: rgba(82, 81, 81, 0.91);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.tab-menu {
  padding: 0 20px;
  background: #fff;
}
.tab-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
  background: #f5f5f5;
  letter-spacing: 0.1em;
}
.tab-menu__header--title {
  font-size: 25px;
}
.tab-menu__btns {
  background: #404040;
  margin-bottom: 20px;
  padding: 0 20px;
  height: 40px;
}
.tab-menu__content {
  padding: 0 20px;
}
.tab-menu__current-weather--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form {
  position: relative;
  background: #000;
  width: 300px;
}
.form__search-btn {
  width: 25px;
  height: 25px;
  background: url(../img/search-dark.png) 0/cover no-repeat;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.form__search {
  padding: 10px 42px 10px 15px;
  width: inherit;
  border: 1px solid #d7d7d7;
}

.title {
  color: #1a8381;
  text-transform: uppercase;
  font-weight: 700;
}

.btn {
  color: #fff;
  background: #404040;
  padding: 11px 20px;
}
.btn:hover {
  border-bottom: 2px solid #14b1be;
  -webkit-box-shadow: 0 0 10px #14b1be;
          box-shadow: 0 0 10px #14b1be;
}