@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: rgba(82, 81, 81, 0.91);
}

.container {
  padding: 20px;
}

.title {
  color: #1a8381;
  text-transform: uppercase;
  font-weight: 700;
}

.btn {
  color: #fff;
  background: #404040;
  padding: 11px 20px;
}
.btn:hover {
  border-bottom: 2px solid #14b1be;
  box-shadow: 0 0 10px #14b1be;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper__inner {
  height: 100vh;
}

.tab-menu {
  background: #d5d5d6;
}
.tab-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: #f5f5f5;
  letter-spacing: 0.1em;
}
.tab-menu__header--title {
  font-size: 25px;
}
.tab-menu__btns {
  background: #404040;
  padding: 0 30px;
  height: 40px;
}
.tab-menu__content {
  display: grid;
  gap: 20px;
  padding: 20px 30px;
}
.tab-menu__panel {
  display: grid;
  gap: 20px;
}
.tab-menu__current-weather {
  background: #e8ecef;
  padding: 30px;
}
.tab-menu__current-weather--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.tab-menu__current-weather--content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tab-menu__icon {
  text-align: center;
}
.tab-menu__img {
  width: 100px;
  margin-bottom: 5px;
}
.tab-menu__current-temp {
  text-align: center;
}
.tab-menu__heading {
  font-size: 50px;
  margin-bottom: 10px;
}
.tab-menu__real-feel {
  font-size: 14px;
}
.tab-menu__info {
  display: grid;
  gap: 20px;
}
.tab-menu__text {
  margin-right: 20px;
}
.tab-menu__weather-days--list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.tab-menu__weather-days--item {
  background: #e8ecef;
  padding: 30px;
  text-align: center;
}
.tab-menu__weather-days--link {
  display: grid;
  gap: 10px;
  color: #000;
}
.tab-menu__weather-days--title {
  font-size: 18px;
}
.tab-menu__weather-days--temp {
  font-size: 40px;
}
.tab-menu__weather-days--forecast {
  font-size: 14px;
}

.form {
  position: relative;
  background: #000;
  width: 300px;
}
.form__search {
  padding: 10px 42px 10px 15px;
  width: inherit;
  border: 1px solid #d7d7d7;
}
.form__search-btn {
  width: 25px;
  height: 25px;
  background: url(../img/search-dark.png) 0/cover no-repeat;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}

.tab-menu__hourly {
  background: #f4f4f4;
  padding: 30px;
}
.tab-menu__hourly--header {
  margin-bottom: 20px;
}
.tab-menu__hourly--content {
  display: flex;
  gap: 10px;
}
.tab-menu__hourly--description {
  display: grid;
  gap: 20px;
  width: 130px;
  padding: 10px;
  background: #e3e3e3;
  color: #606463;
  text-transform: uppercase;
  text-align: center;
}
.tab-menu__hourly--img {
  width: 80px;
  height: 80px;
}
.tab-menu__hourly--nav {
  height: 100%;
}
.tab-menu__hourly--list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
  height: inherit;
}
.tab-menu__hourly--item {
  padding: 10px 30px;
  height: inherit;
  text-align: center;
}
.tab-menu__hourly--link {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: inherit;
  color: #000;
}
.tab-menu__hourly--icon {
  width: 80px;
}

/*# sourceMappingURL=main.css.map */
