
$--padding-container: 30px;
$--color-text: #606463;
$--bg-color-hourly: #e3e3e3;

$color-curent-weather: #e8ecef;

$--accent-color-text: #0ebeaf;

//$--nearest-color-bg: #787676;
$--nearest-color-bg: #e1e1e3;

$count-column: 6;