.tab-menu {
  // .tab-menu__nearest-cities
  &__nearest-cities {
    width: 100%;

    background: #f2f2f2;
    padding: $--padding-container;
  }
  // tab-menu__nearest-cities--header
  &__nearest-cities--header{
    margin-bottom: 20px;
  }
  // tab-menu__nearest-cities--title
  &__nearest-cities--title{
    display: inline-block;
    margin-right: 20px;
  }
  // tab-menu__nearest-cities--name
  &__nearest-cities--name{

  }
  // .tab-menu__nearest-cities--nav
  &__nearest-cities--nav {
    width: 100%;
    height: 100%;
  }
  // .tab-menu__nearest-cities--list
  &__nearest-cities--list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
  }
  // .tab-menu__nearest-cities--item
  &__nearest-cities--item {
    background: $--nearest-color-bg;

    @include positionRelativeCenter;
    padding: 7px;
  }
  // .tab-menu__nearest-cities--link
  &__nearest-cities--link {
    color: #000;
  }
  // .tab-menu__nearest-cities--col
  &__nearest-cities--col {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .tab-menu__nearest-cities--row
  &__nearest-cities--row {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  // .tab-menu__nearest-cities--row
  &__nearest-cities--location {
    display: flex;
    justify-content: space-between;
  }
  // .tab-menu__nearest-cities--city
  &__nearest-cities--city {
    color: $--accent-color-text;
    font-size: 20px;
    font-weight: 700;
  }
  // .tab-menu__nearest-cities--country
  &__nearest-cities--country {
    color: #ad0aba;
    font-size: 20px;
    font-weight: 700;
  }
  // .tab-menu__nearest-cities--main-temp
  &__nearest-cities--main-temp {

  }
  // .tab-menu__nearest-cities--main-temp-title
  &__nearest-cities--main-temp-title {

  }
  // .tab-menu__nearest-cities--main-temp-name
  &__nearest-cities--main-temp-name {
    display: inline-block;
    margin-left: 10px;
  }
  // .tab-menu__nearest-cities--real-feel
  &__nearest-cities--real-feel {

  }
  // .tab-menu__nearest-cities--real-feel-title
  &__nearest-cities--real-feel-title {

  }
  // .tab-menu__nearest-cities--real-feel-name
  &__nearest-cities--real-feel-name {
    display: inline-block;
    margin-left: 10px;
  }
  // .tab-menu__nearest-cities--img
  &__nearest-cities--img {
    width: 80px;

    @include filterIcon;
  }
}
