.tab-menu {
  // .tab-menu__hourly
  &__hourly {
    background: #f4f4f4;
    padding: $--padding-container;
    margin-bottom: 20px;
  }
  // .tab-menu__hourly--header
  &__hourly--header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 60px 0 0;
  }
  // .tab-menu__hourly--title
  &__hourly--title {
  }
  // .tab-menu__hourly--city
  &__hourly--city {
  }
  // .tab-menu__hourly--city-name
  &__hourly--city-name {
    display: inline-block;
  }
  // .tab-menu__hourly--city-title
  &__hourly--city-title {
    margin-right: 10px;
  }
  // .tab-menu__hourly--content
  &__hourly--content {
    display: flex;
    justify-content: space-between;
  }
  // .tab-menu__hourly--description
  &__hourly--description {
    display: grid;
    gap: 10px;
    width: 130px;
    padding: 10px;

    background: $--bg-color-hourly;
    color: $--color-text;

    text-transform: uppercase;
    text-align: center;
    align-items: center;
  }
  // .tab-menu__hourly--name
  &__hourly--name {
  }
  // .tab-menu__hourly--img
  &__hourly--img {
    width: 80px;
    height: 80px;
  }
  // .tab-menu__hourly--forecast-title
  &__hourly--forecast-title {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  // .tab-menu__hourly--temp-title
  &__hourly--temp-title {
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
  }
  // .tab-menu__hourly--real-feel-title
  &__hourly--real-feel-title {
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
  }
  // .tab-menu__hourly--wind-title
  &__hourly--wind-title {
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
  }
  // .tab-menu__hourly--today-list
  &__hourly--today-list {
  }
  // .tab-menu__hourly--nav
  &__hourly--nav {
    height: 100%;
  }
  // .tab-menu__hourly--list
  &__hourly--list {
    display: grid;
    grid-template-columns: repeat($count-column, 1fr);
    column-gap: 5px;
    height: inherit;
  }
  // .tab-menu__hourly--item
  &__hourly--item {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: inherit;
    width: 150px;

    gap: 10px;
    padding: 10px;

    color: #000;
  }
  // .tab-menu__hourly--time
  &__hourly--time {
  }
  // .tab-menu__hourly--icon-forecast
  &__hourly--icon {
    width: 80px;

    @include filterIcon;
    @include positionRelativeCenter;
  }
  // .tab-menu__hourly--forecast
  &__hourly--forecast {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  // .tab-menu__hourly--temp
  &__hourly--temp {
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
  }
  // .tab-menu__hourly--real-feel
  &__hourly--real-feel {
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
  }
  // .tab-menu__hourly--wind
  &__hourly--wind {
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
  }
}
