.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  // .wrapper__inner
  &__inner {
    height: 100vh;
  }
}
.tab-menu {
  background: #d5d5d6;

  // .tab-menu__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $--padding-container;
    background: #f5f5f5;
    letter-spacing: .1em;
  }
  // .tab-menu__header--title
  &__header--title {
    font-size: 25px;
  }
  // .tab-menu__btns
  &__btns {
    background: #404040;
    padding: 0 $--padding-container;
    height: 40px;
  }
  // .tab-menu__btn
  &__btn {
  }
  // .tab-menu__content
  &__content {
    display: grid;
    gap: 20px;
    padding: 20px $--padding-container;
  }
  // .tab-menu__panel
  &__panel {
    display: grid;
    gap: 20px;
  }
  // .tab-menu__current-weather
  &__current-weather {
    background: $color-curent-weather;
    //background: #f4f4f4;
    padding: $--padding-container;
  }
  // .tab-menu__current-weather--header
  &__current-weather--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    font-size: 18px;
    letter-spacing: 0.5px;
  }
  // .tab-menu__title
  &__title {
  }
  // .tab-menu__data
  &__data {
  }
  // .tab-menu__current-weather--content
  &__current-weather--content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  // .tab-menu__icon
  &__icon {
    text-align: center;
  }
  // .tab-menu__img
  &__img {
    width: 100px;
    margin-bottom: 5px;
  }
  // .tab-menu__subtext
  &__subtext {
  }
  // .tab-menu__current-temp
  &__current-temp {
    text-align: center;
  }
  // .tab-menu__heading
  &__heading {
    font-size: 50px;
    margin-bottom: 10px;
  }
  // .tab-menu__real-feel
  &__real-feel {
    font-size: 14px;
  }
  // .tab-menu__info
  &__info {
    display: grid;
    gap: 20px;
  }
  // .tab-menu__sunrise
  &__sunrise {
  }
  // .tab-menu__text
  &__text {
    margin-right: 20px;
  }
  // .tab-menu__sunset
  &__sunset {
  }
  // .tab-menu__duration
  &__duration {
  }
  // .tab-menu__current-weather--nav
  &__weather-days {
  }
  // .tab-menu__current-weather--nav
  &__weather-days--nav {
  }
  // .tab-menu__current-weather--list
  &__weather-days--list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  // .tab-menu__current-weather--item
  &__weather-days--item {
    background: $color-curent-weather;
    padding: $--padding-container;

    text-align: center;
  }
  // .tab-menu__weather-days--link
  &__weather-days--link {
    display: grid;
    gap: 10px;

    color: #000;
  }
  // .tab-menu__current-weather--title
  &__weather-days--title {
    font-size: 18px;
  }
  // .tab-menu__current-weather--data
  &__weather-days--data {
  }
  // .tab-menu__current-weather--year
  &__weather-days--year {
  }
  // .tab-menu__current-weather--day
  &__weather-days--day {
  }
  // .tab-menu__current-weather--img
  &__weather-days--img {
  }
  // .tab-menu__current-weather--temp
  &__weather-days--temp {
    font-size: 40px;
  }
  // .tab-menu__current-weather--forecast
  &__weather-days--forecast {
    font-size: 14px;
  }
}
.form {
  position: relative;
  background: #000;
  width: 300px;

  // .form__search
  &__search {
    padding: 10px 42px 10px 15px;
    width: inherit;
    border: 1px solid #d7d7d7;
  }
  // .form__search-btn
  &__search-btn {
    width: 25px;
    height: 25px;
    background: url(../img/search-dark.png) 0 / cover no-repeat;

    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
  }
}